<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chatroom</title>
    <link rel="stylesheet" href="/css/chat.css">
    <!-- 引入 SockJS 库 -->
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.1/dist/sockjs.min.js"></script>
    <!-- 引入 Stomp.js 库 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>


</head>
<body>
<h1>Chatroom</h1>
<div class="container">
    <!-- Chat Rooms -->
<!--    <div class="rooms">-->
<!--        <h3>Rooms</h3>-->
<!--        <ul>-->
<!--            <li th:each="room : ${rooms}" th:text="${room}"></li>-->
<!--        </ul>-->
<!--        <a href="/chat/join?roomId=room1">加入room1</a>-->
<!--    </div>-->
    <h3>Rooms</h3>
    <form id="joinRoomForm">
        <input type="text" id="roomId" placeholder="输入房间号" required>
        <button type="submit">加入</button>
    </form>
    <!-- Chat Section -->
    <div class="chat">
        <div class="messages">
            <h3>Messages</h3>
            <div th:each="message : ${messages}">
                <p><strong th:text="${message.sender}"></strong>: <span th:text="${message.content}"></span></p>
            </div>
        </div>
        <div class="input-box">
            <form class = "message" action="/chat" method="post">
                <div class="contentbox">
                <textarea class="content" name="message" placeholder="Type your message..." required></textarea>
                <button type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Online Users -->
    <div class="online-users">
        <h3>Online Users</h3>
        <ul>
            <li th:each="user : ${onlineUsers}" th:text="${user}"></li>
        </ul>
    </div>
</div>
<script src="/js/chat.js"></script>
</body>
</html>